.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  transition: opacity 1s linear;
}

.footer__link:hover {
  opacity: 0.8;
}

@media (max-width: 700px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
