.lead__title {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  max-width: 720px;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-rendering: optimizeLegibility;
}

@media (max-width: 700px) {
  .lead__title {
    padding-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width: 800px) {
  .lead__title {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 500px) {
  .lead__title {
    padding-left: 16px;
    padding-right: 16px;
  }
}
