.intro__text {
  margin: 0;
  padding-bottom: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 161%;
  text-rendering: optimizeLegibility;
}

@media (max-width: 500px) {
  .intro__text {
    line-height: 162%;
  }
}
