.lead__subtitle {
  margin: 0;
  padding: 0;
  padding-bottom: 64px;
  width: 100%;
  max-width: 640px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-rendering: optimizeLegibility;
}

@media (max-width: 1100px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media (max-width: 700px) {
  .lead__subtitle {
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 800px) {
  .lead__subtitle {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 500px) {
  .lead__subtitle {
    padding-left: 16px;
    padding-right: 16px;
  }
}
