.cover {
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 92px;
  box-sizing: border-box;
  max-width: 1184px;
  overflow: hidden;
}

@media (max-width: 1100px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 800px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media (max-width: 500px) {
  .cover {
    margin-bottom: 64px;
  }
}
