.place__link {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  text-rendering: optimizeLegibility;
  transition: opacity 1s linear;
}

.place__link:hover {
  opacity: 0.8;
}
