.place {
  padding-left: 148px;
  padding-right: 148px;
  padding-bottom: 92px;
  box-sizing: border-box;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (max-width: 1100px) {
  .place {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (max-width: 800px) {
  .place {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 90px;
    gap: 71px;
  }
}

@media (max-width: 700px) {
  .place {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 66px;
    gap: 50px;
  }
}
